#contenedor {
    background-color: #fff8f0;
    font-family: 'Times New Roman',serif;
    font-size: 16px;
}

.encabezado {
    color: #5a3e36;
    font-family: Georgia, 'Times New Roman',serif;
    font-size: 80px;
    text-align: center;
    background-image: url("../imgs/guesteaus.png");
    background-position: bottom;
    padding-bottom: 541px;
    max-width: 100%;
    height: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 2px white;
    border-radius: 50px 50px 0 0;

}

img{
    height: 50px;
    width: 50px;
}

.menu {
    background-color: #a77e58;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    border-radius: 0 0 50px 50px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.menu ul{
    padding: 0;
}

.menu:hover{
    color: #5a3e36;
    border-right: 15px #5a3e36;
}
div.menu ul li {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

div.menu ul li a {
    color: #ffffff;
    
}

div.menu ul li a:hover {
   color:  #5a3e36;
   transition: 1s;
}

.contenido {
    background-color: #fff8f0;
    color: #5a3e36;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    float: left;
    width: 70%;
    margin-right: 25px;
    border-right: 5px solid #5a3e36;
    
}


h3 img {
    height: 30px;
    width: 40px;
    display: inline-block;
    transform: translateY(9px);
    
}

.sidebar {
    background-color: #ecdcc6;
    color: #5a3e36;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    
}

.pie {
    background-color: #5a3e36;
    color: #ecdcc6;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    
}

div.pie a {
   color:  #ecdcc6;
   
   
}
div.pie a:hover {
    color: #bb8475;
}

