#contenedor {
    background-color: #fff8f0;
    font-family: 'Times New Roman',serif;
    font-size: 16px;
}

.encabezado {
    color: #5a3e36;
    font-family: Georgia, 'Times New Roman',serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 15px;
    background-image: url("../imgs/guesteaus.png");
    padding-bottom: 440px;
    

}

img{
    height: 50px;
    width: 50px;
}

.menu {
    background-color: #a77e58;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    transition: 2s;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.menu:hover{
    color: #8b6f47;
    
}

.contenido {
    background-color: #fff8f0;
    color: #5a3e36;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.sidebar {
    background-color: #ecdcc6;
    color: #5a3e36;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.pie {
    background-color: #5a3e36;
    color: #ecdcc6;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    
}