#contenedor {
    background-color: #fff8f0;
    font-family: 'Times New Roman',serif;
    font-size: 16px;
}

.Encabezado {
    color: #5a3e36;
    font-family: Georgia, 'Times New Roman',serif;
    font-size: 20px;
    text-align: center;
    background-position: bottom;
    padding-bottom: 541px;
    max-width: 100%;
    height: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 2px white;
    border-radius: 50px 50px 0 0;
    background-image: url("../imgs/restaurante.png");
}

nav.menu {
    background-color: #a77e58;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    border-radius: 0 0 50px 50px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

nav.menu ul{
    padding: 0;
}

nav.menu:hover{
    color: #5a3e36;
    border-right: 15px #5a3e36;
}
nav.menu ul li {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

nav.menu ul li a {
    color: #ffffff;
    
}

.Contenido {
    background-color: #fff8f0;
    color: #5a3e36;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    float: left;
    width: 70%;
}

[data-alergenos="nueces mariscos"]::after {
    content: " nueces mariscos ";
    padding-left: 30px;
    color: #c96347;
    
}

[data-alergenos="nueces"]::after {
    content: " nueces ";
    padding-left: 30px;
    color: #c96347;
    
}

[data-alergenos="mariscos"]::after {
    content: " mariscos ";
    padding-left: 30px;
    color: #c96347;
    
}

[data-alergenos="mantequilla"]::after {
    content: " mantequilla ";
    padding-left: 30px;
    color: #c96347;
    
}

[data-alergenos="huevo"]::after {
    content: " huevo ";
    padding-left: 30px;
    color: #c96347;
    
}

[data-alergenos="puerros"]::after {
    content: " puerros ";
    padding-left: 30px;
    color: #c96347;
    
}

[data-alergenos="chocolate"]::after {
    content: " chocolate ";
    padding-left: 30px;
    color: #c96347;
    
}

[data-alergenos="yogur"]::after {
    content: " yogur ";
    padding-left: 30px;
    color: #c96347;
    
}

[data-alergenos="huevo y almendra"]::after {
    content: " huevo y almendra ";
    padding-left: 30px;
    color: #c96347;
    
}

[data-alergenos="merengue y castañas"]::after {
    content: " merengue y castañas ";
    padding-left: 30px;
    color: #c96347;
    
}

#Alergenos {
    margin-right: -90px;
    float: right;
    padding-right: 300px;
    transform: translateY(-75px) translateX(-149px);
    color: #c96347;
}

.pie {
    background-color: #5a3e36;
    color: #ecdcc6;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    clear: both;
    margin: 20px;
    border-radius: 3px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
div.pie a {
    color:  #ecdcc6;
    margin: 20px;
    
}
 div.pie a:hover {
     color: #bb8475;
}